<!DOCTYPE html>
<html>
  <head>
    <title>Inviter App | Home</title>
  </head>
  <body>
    <h1>Inviter App</h1>
    <p>
      This is the home page for the inviter application.
    </p>
  </body>
</html>